# Wazuh Indexer connection (your Ubuntu VM)
WAZUH_INDEXER_HOST=192.168.1.15
WAZUH_INDEXER_PORT=9200
WAZUH_INDEXER_USER=admin
WAZUH_INDEXER_PASSWORD=xxxxxxxxxxxxxxx
WAZUH_VERIFY_TLS=false

# Ollama (local LLM)
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=llama3.1:8b
OLLAMA_TEMPERATURE=0.1

# NVD (optional — improves rate limit from 5/30s to 50/30s)
NVD_API_KEY=0fd59f68-0111-4750-9ea5-db755591cdb81323131212312sdasexample

# MITRE ATT&CK data file
MITRE_ATTACK_JSON_PATH=data/mitre/enterprise-attack.json

# Logging
LOG_LEVEL=INFO